{% extends "portfolio/layout.html" %}

{% block styles %} 
    {% load static %} 
    <link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
{% endblock styles %}

{% block title %}
    <title>About</title>
{% endblock title %}

{% block content %}
<img src="{% static 'portfolio/img/foto.png' %}" alt="" />
<article>
  <p>
    Olá, o meu nome é Gonçalo Nunes, tenho 21 anos e nasci em Loures, que
    fica nos arredores de Lisboa.
  </p>
  <p>
    Conclui o secundário na
    <a href="https://www.esjaloures.org/" target="_blank"
      >Escola Secundária José Afonso</a
    >
    e comecei a tirar uma licenciatura em Engenharia Informática de Redes
    e Telecomunicações, mas quando cheguei ao 2ºano percebi que a vertente
    de redes e telecomunicações não era o meu forte e, apesar de ter tido
    bons resultados, decidi mudar e atualmente estou a tirar uma
    licenciatura em Engenharia Informática, na
    <a href="https://www.ulusofona.pt/" target="_blank">
      Universidade Lusófona de Humanidades e Tecnologias</a
    >.
  </p>
</article>
<div class="allText">
  <h3>Aptidões e competências pessoais</h3>
  <p>
    Em quase todos os projetos em que trabalhei, tive de trabalhar em
    equipa e aprender a lidar com diversos tipos de pessoas. Sempre fui
    capaz de lidar com divergências dentro do grupo para manter um equilibrio
    e, quando é o caso, lidera-las. Considero-me uma pessoa bastante
    flexivel e resiliente, sempre que tenho um projeto em mãos dou sempre
    o meu melhor para o mesmo ficar ao meu gosto.
  </p>
  <br />
  <h3>Interesses e hobbies</h3>
  <p>
    Gosto de jogar videojogos, assistir a desporto(principalmente futebol)
    e de sair com amigos.
  </p>
  <br />
  <h3>Experiencia profissional</h3>
  <p>
    Tirando os projetos da faculdade, de momento ainda não tenho
    experiencia profissional.
  </p>
  <br /><br />
  <div class="bts">
    <button class="bt" onclick="">
      <a style="color: white" href="{% static 'portfolio/files/CV - Gonçalo Nunes.pdf' %}" download="CV-Gonçalo_Nunes">CV</a>
    </button>
    <button class="bt" onclick="">
      <a style="color: white" href="{% static 'portfolio/files/CL - Gonçalo Nunes.pdf' %}" download="CL-Gonçalo_Nunes">Carta de Apresentação</a>
    </button>
    <button class="bt" onclick="">
      <a style="color: white" href="{% static 'portfolio/files/Resume - Gonçalo Nunes.pdf' %}" download="Resume-Gonçalo_Nunes">Resume</a>
    </button>
  </div>
</div>
{% endblock content %}
