{% extends "portfolio/layout.html" %}

{% block styles %} 
    {% load static %} 
    <link rel="stylesheet" href="{% static 'portfolio/css/contacts.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
{% endblock styles %}

{% block title %}
    <title>Contacts</title>
{% endblock title %}

{% block content %}
<div class="title">Contacts</div>
      <br />
      <article>
        <div class="item" id="item1">
          <a href="https://www.instagram.com/goncalocnunes/" target="_blank"><img src="{% static 'portfolio/img/instagram-logo.png' %}" alt="" /></a>
        </div>
        <div class="item" id="item2">
          <a href="https://github.com/Guchalo" target="_blank"><img src="{% static 'portfolio/img/github-logo.png' %}" alt="" /></a>
        </div>
        <div class="item" id="item3">
          <a href="https://www.linkedin.com/in/gonçalo-nunes11" target="_blank"><img src="{% static 'portfolio/img/linkedin-logo.png' %}" alt="" /></a>
        </div>
      </article>
{% endblock content %}
