<!DOCTYPE html>
<html lang="pt">
  {% extends "portfolio/layout.html" %}
    {% load static %} 
    {% block styles %} 
    <link rel="stylesheet" href="{% static 'Portfolio/css/hero_page.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    {% endblock styles %}
    {% block title %}
    <title>Welcome</title>
    {% endblock title %}
  </head>
      {% block content %}
      <div class="title">Welcome</div>
      <article>
        <p>
          "You define your own life. Don't let other people write your script."
        </p>
      </article>
      {% endblock content %}
</html>
