{% extends "portfolio/layout.html" %}

{% block styles %} 
    {% load static %} 
    <link rel="stylesheet" href="{% static 'portfolio/css/playgroung.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <script
    src="https://kit.fontawesome.com/09f015a6ac.js"
    crossorigin="anonymous"
  ></script>
    <script src="{% static 'portfolio/js/playground.js' %}"></script>
{% endblock styles %}

{% block title %}
    <title>JavaScript Playground</title>
{% endblock title %}



{% block content %}
<div class="title" id="title">JavaScript Playground</div>
      <label for="nome" id="nome6" onmouseover="forLabel1(this)"></label>
      <article>
        <button>
          <i
            class="fa-solid fa-sun fa-xl"
            aria-hidden="true"
            id="btn"
            style="color: #ffffff"
            onclick="dark_light(this)"
          >
            Light
          </i>
        </button>
        <br /><br />
        Calculadora
        <br /><br />
        <input
          type="text"
          placeholder="Insira uma expressão"
          name="expressao"
          id="exp"
        />
        <button onclick="calculate(this)">Submit</button>
        <button onclick="clearExp(this)">Clear</button>

        <br /><br />
        <label for="result" id="result">Resultado: 0</label><br />
        <br /><br />
        <input
          type="text"
          placeholder="Escreva o seu nome"
          name="nome"
          id="nome"
        />
        <label for="nome" id="nome5" onmouseover="forLabel1(this)"></label>
        <button onclick="showName(this)">Submit</button>
        <button onclick="clearOurico(this)">🦔</button>

        <br /><br />
        <div class="nomes" id="nomes">
          <label for="nome" id="nome1" onmouseover="forLabel1(this)"></label>
          <label for="nome" id="nome2" onmouseover="forLabel1(this)">🦔</label>
          <label for="nome" id="nome3" onmouseover="forLabel1(this)"></label>
        </div>
        <br /><br />
        <br /><br />
        <br /><br />
        <label for="nome" id="nome4" onmouseout="forLabel2(this)"> </label>
        <br /><br />
        <label class="labelData" id="labelData" onclick="dataAtual(this)"
          >Clique para ver a data de hoje</label
        >
      </article>
{% endblock content %}