{% extends "portfolio/layout.html" %} {% block styles %} {% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
{% endblock styles %} {% block title %}
<title>Projects</title>
{% endblock title %} {% block content %}

<div class="title">Projects</div>
<article>
  <div class="item" id="item6">
    <h3 class="headerCard">Portfolio</h3>
    <br />
    <img src="{% static 'portfolio/img/logo.png' %}" alt="" />
    <br />
    <br />
    <p>
      Site desenvolvido em HTML/CSS e JavaScript, para a cadeira de Programação
      Web.
    </p>
    <p>
      Este site, como o nome indica, tem o objetivo de ser um portfolio digital.
    </p>
    <br />
    <a
      href="https://github.com/Guchalo/Projeto_PW_Portfolio"
      target="_blank"
      style="color: blue"
      >Link</a
    >
  </div>
  <div class="item" id="item1">
    <h3 class="headerCard">FireTracker</h3>
    <br />
    <img src="{% static 'portfolio/img/ic_fire.png' %}" alt="" />
    <br />
    <br />
    <p>
      Aplicação móvel desenvolvida em Kotlin e Java, para a cadeira de
      Computação Móvel.
    </p>
    <p>A aplicação rastrea todos os fogos ativos no pais.</p>
    <br />
    <a
      href="https://github.com/ULHT-CM-2021-22/22005787-22005793"
      target="_blank"
      style="color: blue"
      >Link</a
    >
  </div>
  <div class="item" id="item2">
    <h3 class="headerCard">DEISIGreatGame</h3>
    <br />
    <img src="{% static 'portfolio/img/DEISI.png' %}" alt="" />
    <br />
    <br />
    <p>
      Programa desenvolvido em Java, para a cadeira de Linguagens de Programação
      II.
    </p>
    <p>
      O programa cria um jogo de tabuleiro baseado no jogo "Snake and Stairs",
      mas as armadilhas são baseadas nas más praticas da programnação.
    </p>
    <br />
    <a
      href="https://github.com/Guchalo/LP2_22005787_22005793"
      target="_blank"
      style="color: blue"
      >Link</a
    >
  </div>
  <div class="item" id="item3">
    <h3 class="headerCard">MyHome</h3>
    <br />
    <img src="{% static 'portfolio/img/SH.png' %}" alt="" />
    <br />
    <br />
    <p>
      Desenvolvido em C, para a cadeira de Arquitetura Avançada de Computadores.
    </p>
    <p>
      Consiste num projeto de uma SmartHome, realizada num simulador(TinkerCad).
    </p>
    <br />
    <a
      href="https://www.tinkercad.com/things/86YPUv2t7dj-projeto-final-aac"
      target="_blank"
      style="color: blue"
      >Link</a
    >
  </div>
  <div class="item" id="item4">
    <h3 class="headerCard">BombRoad</h3>
    <br />
    <img src="{% static 'portfolio/img/Bomb.png' %}" alt="" />
    <br />
    <br />
    <p>
      Programa desenvolvido em C, para a cadeira de Linguagens de Programação I.
    </p>
    <p>
      Este programa, como o nome indica, consiste no jogo clássico "BombRoad".
    </p>
    <br />
    <a
      href="https://replit.com/@goncalonunes220/correcao"
      target="_blank"
      style="color: blue"
      >Link</a
    >
  </div>
  <div class="item" id="item5">
    <h3 class="headerCard">Xadrez</h3>
    <br />
    <img src="{% static 'portfolio/img/Xadrez.png' %}" alt="" />
    <br />
    <br />
    <p>
      Programa desenvolvido em Kotlin, para a cadeira de Fundamentos de
      Programação.
    </p>
    <p>Este programa, como o nome indica, consiste num jogo de xadrez.</p>
    <br />
    <a
      href="https://github.com/rafaelsimoes22005793/xadrezFP"
      target="_blank"
      style="color: blue"
      >Link</a
    >
  </div>
  <div class="item" id="item7">
    <h3 class="headerCard">Portfolio - Django</h3>
    <br />
    <img src="{% static 'portfolio/img/logo.png' %}" alt="" />
    <br />
    <br />
    <p>
      Site desenvolvido na framework Django, usando HTML/CSS, JavaScript e
      Python, para a cadeira de Programação Web.
    </p>
    <p>
      Este site, como o nome indica, tem o objetivo de ser um portfolio digital,
      desta vez realizado em Django. O site ainda tem um Blog, em que é possivel
      publicar posts.
    </p>
    <br />
    <a
      href="https://github.com/Guchalo/Projeto_PW_Portfolio_Django"
      target="_blank"
      style="color: blue"
      >Link</a
    >
  </div>
</article>
{% endblock content %}
