{% extends "portfolio/layout.html" %}

{% block styles %} 
    {% load static %} 
    <link rel="stylesheet" href="{% static 'portfolio/css/pw.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
{% endblock styles %}

{% block title %}
<title>Programação Web</title>
{% endblock title %}

{% block content %}
<div class="title">Programação Web</div>
      <article>
        <br />
        <table class="table">
          <tr>
            <th>Tecnologias utilizadas</th>
            <th>Descrição</th>
            <th>✔❌</th>
          </tr>
          <tr>
            <td>HTML</td>
            <td>
              HTML é uma linguagem de marcação utilizada na construção de
              páginas na Web
            </td>
            <td>✔</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td>
              Cascading Style Sheets é um mecanismo para adicionar estilos a uma
              página web, aplicado diretamente nas tags HTML ou ficar contido
              dentro de tags
            </td>
            <td>✔</td>
          </tr>
          <tr>
            <td>JavaScript</td>
            <td>
              JavaScript é uma linguagem de programação interpretada
              estruturada, de script em alto nível com tipagem dinâmica fraca e
              multiparadigma
            </td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Python</td>
            <td>
              Python é uma linguagem de programação de alto nível, interpretada
              de script, imperativa, orientada a objetos, funcional, de tipagem
              dinâmica e forte
            </td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Django</td>
            <td>
              Django é um framework para desenvolvimento rápido para web,
              escrito em Python, que utiliza o padrão model-template-view
            </td>
            <td>✔</td>
          </tr>
          <tr>
            <td>Heroku</td>
            <td>
              Heroku é uma plataforma de nuvem como serviço que suporta várias
              linguagens de programação
            </td>
            <td>❌</td>
          </tr>
        </table>
        <div>
          <br />
          <h2>Labs</h2>
          <a href="https://a22202617.pythonanywhere.com" target="_blank">Lab1/2</a> /
          <a href="http://lab3pw.pythonanywhere.com/" target="_blank">Lab3</a> /
          <a href="http://lab4pw22202617.pythonanywhere.com/" target="_blank">Lab4</a>
        </div>
      </article>
{% endblock content %}